<% content_for :title do %>Lista wydarzeń<% end %>

<h1>Lista wydarzeń</h1>

<% events.each do |event| %>
  <% if event.date %>
    <% txt = event.name+"<span class='c-AdditionalInfo'>#{event.date}</span>" %>
  <% else %>
    <% txt = event.name %>
  <% end %>
  <%= link_to (raw txt), event, :class => "c-Card" %>
<% end %>