<% content_for :title do %>Lista piosenek<% end %>

<h1>Lista piosenek <%= link_to "Nowa piosenka", new_song_path, class: "c-Button c-Button-Small c-Button-InH1 c-Button-add" %></h1>
<% songs.each do |song| %>
<%= link_to song.name, song, :class => "c-Card" %>
<% end %>