@charset "UTF-8";

@mixin bg-transition-hover {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

@mixin bg-transition {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.c-Button {
  display: inline-block;
  border-radius: 50%;
  position: relative;
  width: 5.836rem;
  height: 5.836rem;
  text-indent: -999em;
  border-radius: 100%;
  font-size: 2.618rem;
  border: 1px solid #999;
  text-decoration: none;
  outline: 0;
  @include bg-transition;
  &::before {
    background: transparent;
    font-family: "icons", Georgia, sans-serif;
    text-rendering: geometricPresition;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    font-size: 2.618rem;
    line-height: 5.836rem;
    display: inline-block;
    color: black;
    top: 0;
    left: 0;
    width: 5.836rem;
    height: 5.836rem;
    padding: 0;
    text-indent: 0;
    z-index: 100;
  }
}

.c-Button+.c-Button {
  margin-left: 3.494rem;
}

.c-Button-songs::before {
  content: '\e073';
  color: #2aa275;
}

.c-Button-events::before {
  content: '\e031';
  color: #396ba8;
}

.c-Button:hover {
  background-color: #efefef;
  @include bg-transition-hover;
}

.c-Button:active::after {
  position: absolute;
  height: 5.836rem;
  width: 5.836rem;
  content: "";
  left: 0;
  top: 0;
  z-index: 1000;
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.c-Card {
  display: block;
  width: 100%;
  margin-bottom: 0.618rem;
  padding: 1rem;
  border-radius: 0.618rem;
  border: 1px solid #999;
  @include bg-transition;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  &:last-child { margin-bottom: 0; }
  &:hover { border-bottom: 1px solid #999; background: #efefef; @include bg-transition-hover;}
}

.c-CardButton {
  text-transform: uppercase;
  text-align: center;
  color: #999;
  font-size: 0.825rem;
  font-weight: bold;
  &:hover {
    color: #666;
  }
}

.c-CardButton-Warning:hover {
  background: #fce6e6;
}

.c-CardButtonsContainer {
  .c-CardButton { border-radius: 0.618rem 0 0 0.618rem; }
  .c-CardButton+.c-CardButton { border-radius: 0 0.618rem 0.618rem 0; border-left: none }
}

.c-PageTitle {
  text-align: center;
  font-size: 3.607rem;
  font-weight: 100;
  letter-spacing: 0px;
  line-height: 3.607rem;
  margin-top: 3.607rem;
  margin-bottom: 3.607rem;
}