@charset "UTF-8";

@mixin transition-all-hover {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

@mixin transition-all {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.c-Button {
  display: inline-block;
  border-radius: 50%;
  position: relative;
  width: 5.836rem;
  height: 5.836rem;
  text-indent: -999em;
  font-size: 2.618rem;
  border: 1px solid #999;
  text-decoration: none;
  outline: 0;
  background: white;
  @include transition-all;
  &::before {
    background: transparent;
    font-family: "icons", Georgia, sans-serif;
    text-rendering: geometricPresition;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    font-size: 2.618rem;
    line-height: 5.836rem;
    display: inline-block;
    color: black;
    top: 0;
    left: 0;
    width: 5.836rem;
    height: 5.836rem;
    padding: 0;
    text-indent: 0;
    z-index: 100;
  }
}

.c-Button-Small {
  width: 2.618rem;
  height: 2.618rem;
  &:before {
    font-size: 1.618rem;
    line-height: 2.618rem;
    width: 2.618rem;
    height: 2.618rem;
  }
}
.c-Button-Smaller {
  width: 1.618rem;
  height: 1.618rem;
  &:before {
    font-size: 1rem;
    line-height: 1.618rem;
    width: 1.618rem;
    height: 1.618rem;
  }
}
.c-Button-InH1 {
  float: right;
  top: 0.618rem;
}
.c-Button-add::before {
  content: "➕";
  color: #999;
  text-align: center;
  text-indent: -1px;
}

a.c-Button-add::before { text-indent: 0; }

.c-Button+.c-Button {
  margin-left: 3.494rem;
}

.c-Button-songs::before {
  content: '\e073';
  color: #2aa275;
}

.c-Button-events::before {
  content: '\e031';
  color: #396ba8;
}

.c-Button:hover {
  background-color: #efefef;
  @include transition-all-hover;
}

.c-Button:active::after {
  position: absolute;
  height: 5.836rem;
  width: 5.836rem;
  content: "";
  left: 0;
  top: 0;
  z-index: 1000;
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.c-Button-Small:active::after {
  height: 2.618rem;
  width: 2.618rem;
  left: -1px;
  top: -1px;
  background: rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.c-Button-Smaller:active::after {
  height: 1.618rem;
  width: 1.618rem;
  left: -1px;
  top: -1px;
  background: rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.c-Card {
  display: block;
  width: 100%;
  margin-bottom: 0.618rem;
  padding: 1rem;
  border-radius: 0.618rem;
  border: 1px solid #999;
  @include transition-all;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  background: #fff;
  &:last-child { margin-bottom: 0; }
  &:hover { background: #efefef; @include transition-all-hover;}
}

.c-Card-NoHoverChange:hover { background: #fff; }

.c-CardButton {
  text-transform: uppercase;
  text-align: center;
  color: #999;
  font-size: 0.825rem;
  font-weight: bold;
  font-family: 'HelveticaNeue-Bold';
  &:hover {
    color: #666;
  }
}

.c-CardButton-Warning:hover {
  background: #fce6e6;
}

.c-CardButtonsContainer {
  .c-CardButton { border-radius: 0.618rem 0 0 0.618rem; }
  .c-CardButton+.c-CardButton { border-radius: 0 0.618rem 0.618rem 0; border-left: none }
}

.c-PageTitle {
  text-align: center;
  font-size: 3.607rem;
  font-weight: 100;
  letter-spacing: 0px;
  line-height: 3.607rem;
  margin-top: 3.607rem;
  margin-bottom: 3.607rem;
  font-family: 'HelveticaNeue-UltraLight';
}

.c-AdditionalInfo {
  font-weight: bold;
  font-family: 'HelveticaNeue-Bold';
  font-size: 0.825rem;
  line-height: 0.825rem;
  color: #999;
  margin-left: 0.618rem;
}

.c-InputName {
  font-weight: 300;
  font-family: 'HelveticaNeue-Light';
  font-size: 2.16rem;
  margin: 0.618rem 0 0.5rem;
  padding: 0;
  padding-bottom: 0.118rem;
  border: none;
  width: 100%;
  border-bottom: 1px solid #999;
  &:focus {
    outline: 0;
  }
}

.c-InputDate {
  padding: 0;
  border: none;
  padding-bottom: 0.118rem;
  border-bottom: 1px solid #999;
  margin-left: 0.618rem;
  &:focus {
    outline: 0;
  }
}

.c-InputVerse {
  border-radius: 0.618rem;
  text-align: center;
  width: 21rem;
  font-size: 1rem;
  height: 15rem;
  line-height: 1.31rem;
  padding: 0;
  border: none;
  @include transition-all;
  border: 1px solid #999;
  margin-bottom: 2rem;
  overflow: hidden;
  display: table-cell;
  max-height: 15rem;
  vertical-align: middle;
  resize: none;
  background-image: linear-gradient(top, #fff 0%, #fff 15rem, #fce6e6 15rem, #fce6e6 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, #fff 15rem, #fce6e6 15rem, #fce6e6 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #fff 15rem, #fce6e6 15rem, #fce6e6 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #fff 15rem, #fce6e6 15rem, #fce6e6 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, #fff 15rem, #fce6e6 15rem, #fce6e6 100%);
  background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0rem, rgb(255,255,255)), color-stop(15rem, rgb(255,255,255)),color-stop(15rem, #fce6e6), color-stop(100%, #fce6e6));
  &:focus {
    outline: 0;
    border: 1px solid #999;
    @include transition-all-hover;
  }
}

.c-SectionTagline {
  font-size: 0.825rem;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'HelveticaNeue-Bold';
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 1rem;
}

.c-VerseBlock {
  position: relative;
}

.c-VerseBlockHandle {
  position: absolute;
  height: 1rem;
  width: 1rem;
  padding: 0;
  background: none;
  line-height: 0;
  font-size: 1rem;
  color: #999;
  border: none;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.c-VerseBlockHandle-top {
  left: -1rem;
  top: 0;
}

.c-ButtonsInForm {
  text-align: center;
  width: 100%;
  margin-top: 0.618rem;
}

.c-ButtonInIndex {
  text-align: center;
  width: 100%;
  margin-bottom: 0.618rem;
}

.c-SongsList {
  list-style-type: none;
  padding-left: 0.618rem;
  margin-top: 0.618rem;
}

.c-RemoveSongButton {
  background: none;
  border-radius: 50%;
  border: 1px solid #999;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  text-indent: -999rem;
  color: #999;
  font-size: 1rem;
  position: relative;
  margin-right: 0.618rem;
  display: inline-block;
  top: 2px;
  opacity: 0.4;
  &:before {
    content: '×';
    display: block;
    position: absolute;
    font-size: 0.9rem;
    top: -0.15rem;
    left: 0.209rem;
    text-indent: 0;
    opacity: 0;
  }
  &:hover::before {
    opacity:1;
  }
  &:hover {
    opacity: 1;
  }
}

.js-sortable-placeholder {
  border: 1px dashed black;
  height: 1.45rem;
}

@media screen and (max-width: 480px) {
  .c-PageTitle {
  margin-top: 1.618rem;
  margin-bottom: 1.618rem;
  }
}