input[type=text] {
  border: none;
  box-shadow: none;
  font-size: 2rem;
  width: 100%;
  clear: both;
  font-weight: bold;
  padding: 0rem 15%;
  box-sizing: border-box;
  outline: none;
  
}
textarea, input[type=text] { color: rgba(0,0,0,0.7);}
textarea:focus, input[type=text]:focus {
  color: #000;
}

textarea {
  border: none;
  box-shadow: none;
  font-size: 1rem;
  line-height: 1.6rem;
  width: 100%;
  box-sizing: border-box;
  margin: 1rem auto;
  clear: both;
  padding: 1rem 15%;
  height: auto;
  overflow: auto;
  outline: none;
  background-image: linear-gradient(#eee .1rem, transparent .1rem);
  background-size: 100% 1.6rem;
  background-position: 0 0.55rem;
}

input[type=submit] {
  position: absolute;
  right: 0;
  top: 0;
  height: 2.43rem;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  width: 10%;
  line-height: 2.43rem;
}

input[type=submit], .button {
  border-radius: 2px;
}

.songs input[type=submit], .songs .button {
  color: white;
  background: #ff9338 linear-gradient(lighten(#ff9338, 10%) 0%, #ff9338 100%);
  text-shadow: 0 -1px 0 darken(#ff9338, 15%);
}

.events input[type=submit], .events .button {
  color: white;
  background: #3eb0e5 linear-gradient(lighten(#3eb0e5, 10%) 0%, #3eb0e5 100%);
  text-shadow: 0 -1px 0 darken(#3eb0e5, 15%);
}

@media only screen and (max-width: 1024px) {
  input[type=submit] {
  position: static;
  width: 100%;
  clear: both;
  }
}