body {
  font-family: Helvetica Neue, Myriad Pro, sans-serif;
}

.l-Header, .l-Content, .l-Footer {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.l-Navigation {
  text-align: center;
  margin-bottom: 3.607rem;
}

.l-Footer {
  text-align: center;
  margin-top: 2.618rem;
  font-size: 0.618rem;
  margin-bottom: 1.618rem;
  color: #999;
  font-weight: bold;
}

.l-Content h1 {
  font-weight: 300;
  font-size: 2.16rem;
  margin: 0.618rem 0 1.618rem;
}

.l-Content p {
  line-height: 1.618rem;
  font-size: 1rem;
  margin-top: 0.618rem;
  &:last-child { margin-bottom: 0}
}

.l-Content a {
  text-decoration: none;
}

.l-Content p a:hover, .l-Content li a:hover {
  border-bottom: 1px solid #000;
}

.l-Content li { line-height: 1.6rem;}

.l-HalfContent {
  display: inline-block;
  width: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1.309rem;
  float: left;
}

.l-HalfContent+.l-HalfContent {
  padding-left: 1.309rem;
  padding-right: 0;
}

.l-SongForm {
  width: 21rem;
  margin: 0 auto;
}