body {
  font-family: Helvetica Neue, Myriad Pro, sans-serif;
}

.l-Header, .l-Content, .l-Footer {
  width: 640px;
  margin: 0 auto;
}

.l-Navigation {
  text-align: center;
  margin-bottom: 3.607rem;
}