@media only screen and (max-width: 1024px) {
  .big-screen { display: none; }
  .small-screen { display: block; }
}
@media only screen and (min-width: 1024px) {
  .big-screen { display: block; }
  .small-screen { display: none; }
}