body {
  font-family: 'Helvetica';
  text-rendering:optimizeLegibility;
}

header h1 {
  font-size: 1.618rem;
  margin: 0;
  padding-right: 9rem;
}

a { text-decoration: none; }
a:visited { color: inherit;}
a.event {
  color: #00aacc;
  &:hover {
    border-bottom: 1px solid #00aacc;
  }
}

a.song {
  color: #d6009e;
  &:hover {
    border-bottom: 1px solid #d6009e;
  }
}


h2 { margin-top: 0 }
.icon:before {
  position: absolute; top: 0; left: 0;
  font-family: 'iconfont';
  font-size: 1.618rem;
  line-height: 3rem;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  color: white;
  font-style: normal;
  font-weight: normal;
}

.song-in-list h3 { margin-top: 0;}

.song-list { }
.song-list h2 { margin-top: 1rem;}
.song-list ul { list-style-type: none; padding: 0}

.song-in-list { margin-left: 10%; padding: 1rem 5%;}
.song-in-list h2 { margin-bottom: 0}

.home:before { content: '\e800'; font-size: 2rem; top: 1px;}
.music:before { content: '\e801'; left: -2px;}
.calendar:before { content: '\e802'; }